  <div class="container">
    <form class="form-signin" role="form">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="text" class="form-control" ng-model="user.email"
                                              placeholder="E-mail" required autofocus/>
      <input type="password" class="form-control" ng-model="user.password" placeholder="Password"
                                                                           required/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Login</button>
    </form>
  </div>

