<div>
    <table>
        <tr>
            <td>
                Username
            </td>
            <td>
                <input type="text" ng-model="user.name">
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="email" ng-model="user.email">
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" ng-model="user.password">
            </td>
        </tr> 
        <tr>

            <td>
                <button ng-click="save(user)"> Register </button>
            </td>
        </tr>

    </table>

</div>
